*{
    padding: 0;
    margin: 0;
}

.custom-container{
    background-image: url(https://media.istockphoto.com/id/521808574/es/foto/transporte-r%C3%A1pido.jpg?s=612x612&w=is&k=20&c=7jJV3_A5d0BzMZoSFEQJLiSaQTGotbH7NxwXUzX9MoE=);
    background-size: cover;

}